@if (charityCase){
  <mat-card appearance="raised">
    <img src="{{charityCase.imageUrl}}" alt="image of {{charityCase.title}}">
    <mat-card-content class="mt-2">
      <h2 class="text-sm font-semibold uppercase">{{charityCase.title}}</h2>
      <p class="font-light">{{charityCase.amountRequested | currency}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button class="w-full">
        <mat-icon>favorite</mat-icon>Donate
      </button>
    </mat-card-actions>
  </mat-card>
  
}


