@use '@angular/material' as mat;


@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

$customeTheme: mat.define-theme();

@include mat.core();

.custom-theme{
  @include mat.all-component-themes($customeTheme);

  //overriding buttoms
  .mdc-button, .mdc-stroked-button, .mdc-raised-button, .mdc-flat-button{
    @apply rounded-md
  }
}

.text-primary{
  color:#7d00fa;
}
button.match-input-height{
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch{
  border-right-style: none !important
}
