<div class="flex items-center justify-center min-h-96 bg-gray-100">
  <div class="text-center">
    <div
      class="w-[500px] h-[calc(100vh-200px)] mx-auto border rounded shadow bg-white"
    >
      <iframe
        *ngIf="checkoutUrl"
        [src]="checkoutUrl | safeUrl"
        width="100%"
        height="100%"
        class="rounded"
        frameborder="0"
      ></iframe>
    </div>

    <button routerLink="/portal" mat-flat-button class="mt-4">
      Back to catalog
    </button>
  </div>
</div>
