<div class="bg-red-50 mx-auto">
  <div class="grid grid-cols-2 gap-4 rounded-xl overflow-hidden">
    <div>
      <img src="/images/3d1.jpg" alt="Helping Hands" class="w-full" />
    </div>
    <div class="flex flex-col justify-between p-6">
      <div class="text-5xl text-center font-medium text-red-600">
        Extend a Hand, Change a Life
      </div>
      <div class="text-3xl">
        Every donation makes a difference. Join us in providing vital support to
        people and communities in need. Your kindness brings hope, food,
        shelter, and essential aid where it's needed the most.
      </div>
      <div class="text-2xl text-gray-500">
        Together, we can create a world where no one is left behind. Whether
        it’s a small contribution or a big one, every act of generosity counts.
        Give today and be the change!
      </div>
    </div>
  </div>
</div>
